body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #282828;
}

p {
    color: #F7F7F7;
    font-family: "Romana";
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@keyframes type {
    from {
        width: 0;
    }
}

span {
    animation: blink 1s infinite;
    cursor: pointer;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

::selection {
    background-color: #808080; 
    color: #F7F7F7; 
    cursor: pointer;
}

