body {
    margin: 0;
    padding: 0;
    background: #282828;
    overflow-x: hidden; 
}

nav {
    top: 2rem;
    border-bottom: 2px solid #F7F7F7;
}

.logo {
    position: relative;
    color: #F7F7F7;
    font-family: "Romana BT";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 3rem;
    bottom: -1.5rem;
    cursor: pointer;
}

p {
    color: #F7F7F7;
    font-family: "Romana BT";
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 2rem;
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: 1.5rem;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

span {
    animation: blink 1s infinite;
    cursor: pointer;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

::selection {
    background-color: #808080; 
    color: #F7F7F7; 
    cursor: pointer;
}
