body {
    margin: 0;
    padding: 0;
    background: #F7F7F7;
    overflow-x: hidden;
}

nav {
    border-bottom: 2px solid #393939;
}

.logo {
    color: #393939;
    font-family: "Romana BT";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2rem;
    bottom: -1.5rem;
    cursor: pointer;
}

p {
    color: #393939;
    font-family: "Romana BT";
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.story_input {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 14%;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: 2px solid #393939;
    height: 10em;
    font-size: 24px;
    font-family: 'Playfair Display';
    font-weight: 400;
    color: #393939;
    transition: all 0.3s ease;
    max-width: none;
    resize: none;
    overflow: auto;
    background-image: repeating-linear-gradient(transparent, transparent 20px, #ddd 20px, #ddd 21px, transparent 21px);
    background-color: #F7F7F7;
    background-size: 100% 50px;
}

.pena {
    position: absolute;
    left: 84%;
    top: 12vh;
    width: 12%;
    height: auto;
}

.caveira {
    position: absolute;
    width: 16%;
    height: auto;
    top: 48vh;
    transform: rotate(-15.809deg);
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
}

path {
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    body {
        font-size: 16px;
    }

    .logo {
        font-size: 2.5rem;
    }

    p {
        font-size: 2.5rem;
        width: 22em;
    }

    .story_input {
        margin-top: 16rem;
    }

    textarea {
        font-size: 20px;
    }

    .pena {
        width: 13%;
        left: 84%;
        top: 11vh;
    }

    .caveira {
        width: 18%;
        top: 48vh;
    }
}

@media screen and (min-width: 1090px) and (max-width: 1199px) {
    body {
        font-size: 14px;
    }

    .logo {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
        width: 20em;
    }

    .story_input {
        margin-top: 22%;
    }

    textarea {
        font-size: 18px;
    }

    .pena {
        width: 12%;
        left: 83%;
        top: 12vh;
    }

    .caveira {
        width: 16%;
        top: 50vh;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 18px;
    }

    .logo {
        font-size: 3rem;
    }

    p {
        font-size: 3.5rem;
        width: 25em;
    }

    .story_input {
        margin-top: 16%;
    }

    textarea {
        font-size: 24px;

    }

    .pena {
        width: 15%;
        left: 85%;
        top: 10vh;
    }

    .caveira {
        width: 20%;
        top: 45vh;
    }
}

@media screen and (max-width: 1080px) and (min-width: 1024px) {
    path {
        height: 150vh;
    }

    .logo {
        font-size: 2rem;
        left: 4rem;
        bottom: -1rem;
    }

    p {
        font-size: 2rem;
        width: 90%;
    }

    .story_input {
        width: 80%;
        margin-top: 25%;
    }

    .pena, .caveira {
        display: none;
    }
}

@media screen and (max-width: 900px) and (min-width: 480px) {
    path {
        height: 150vh;
    }

    .logo {
        font-size: 2rem;
        left: 4rem;
        bottom: -1rem;
    }

    p {
        font-size: 2rem;
        width: 90%;
    }

    .story_input {
        width: 80%;
        margin-top: 16rem;
    }

    .pena, .caveira {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    path {
        height: 200vh;
    }

    .logo {
        font-size: 1.5rem;
        left: 0.5rem;
        bottom: -0.5rem;
    }

    p {
        font-size: 1.5rem;
        width: 90%;
    }

    .story_input {
        width: 80%;
        margin-top: 17rem;
    }

    .pena, .caveira {
        display: none;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

span {
    animation: blink 1s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

::selection {
    background-color: #808080;
    color: #F7F7F7;
}

.info {
    position: absolute;
    color: #333;
    font-family: "Gideon Roman";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2%;
    bottom: 4vh;
}